<div ng-controller="PwRedirectsUtilitiesController as vm" class="pwredirects-utilities">

    <umb-load-indicator ng-if="vm.dashboard.loading"></umb-load-indicator>

    <umb-editor-sub-header>

        <umb-editor-sub-header-content-right>

            <umb-editor-sub-header-section ng-if="vm.dashboard.userIsAdmin === true">                
       
                <button                    
                    type="button"
                    class="umb-era-button umb-button--s -blue"
                    ng-click="addRedirect()">
                    <span>Add Redirect</span>
                </button>

            </umb-editor-sub-header-section>
        

        </umb-editor-sub-header-content-right>

    </umb-editor-sub-header>

    <div class="umb-infobox" ng-show="vm.adding.isAdding" >

    
        <h4>Select Redirect Location:</h4>

        <div ng-show="vm.adding.hasError" class="alert alert-danger" ng-bind="vm.adding.errorMessage"></div>

        <div class="umb-table">

            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b4"><localize key="redirectUrls_originalUrl">Original URL</localize></div>
                    <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;"></div>
                    <div class="umb-table-cell flx-s1 flx-g1 flx-b6"><localize key="redirectUrls_redirectedTo">Redirected To</localize></div>
                </div>
            </div>

            <div class="umb-table-body">

                <div class="umb-table-row">


                    <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b4">
                        <input
                            class="form-control search-input"
                            type="text"
                            localize="placeholder"
                            placeholder="@redirectUrls_originalUrl"
                            ng-model="vm.adding.originalUrl"
                            prevent-enter-submit
                            no-dirty-check>
                    </div>

                    <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;">
                        <i class="umb-table-body__icon umb-table-body__fileicon icon-arrow-right" style="font-size: 12px; line-height: 1;"></i>
                    </div>

                    <div class="umb-table-cell flx-s1 flx-g1 flx-b6 items-center">
                        <div class="flx-s1 flx-g1 flx-b0" style="margin-right: 20px;">

                            <ul class="unstyled list-icons" ng-if="node" style="margin-top: 30px">
                                <li>
                                    <a href="" class="hover-show pull-right" ng-click="clear()">
                                        <i class="icon icon-delete red"></i>
                                    </a>
                                    <i class="icon {{node.icon}} hover-hide"></i>
                                    
                                    <a href prevent-default ng-click="openContentPicker()" >{{node.name}}</a>
                                </li>
                            </ul>
                            
                            <div ng-if="!node" style="margin-top: 30px">	
                                <span ng-hide="showSearch || model.value.query">
                                    <ul class="unstyled list-icons">	
                                        <li>	
                                            <i class="icon icon-add blue"></i>
                                            <a href ng-click="openContentPicker()" prevent-default>
                                                <localize key="general_choose">Choose a root node</localize>...
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        

        

    

        <button                    
            type="button"
            class="umb-era-button umb-button--s -blue"
            ng-click="checkSimilarRedirects()">
            <span>Check for Existing Redirects</span>
        </button>
        
        <button                    
            type="button"
            class="umb-era-button umb-button--s -blue"
            ng-click="saveRedirect()">
            <span>Add</span>
        </button>
        
        <button                    
            type="button"
            class="umb-era-button umb-button--s -red pull-right"
            ng-click="cancelAddRedirect()">
            <span>Cancel</span>
        </button>
        
        <div class="clear"></div>

    </div>

    <div ng-show="vm.adding.success" class="alert alert-success">Redirect successfully added</div>

    <div class="umb-table" ng-if="vm.redirectUrls.length > 0 && vm.dashboard.loading === false" ng-class="{'umb-table-inactive': vm.dashboard.urlTrackerDisabled === true}">

        <div class="umb-table-head">
            <div class="umb-table-row">
                <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b4"><localize key="redirectUrls_originalUrl">Original URL</localize></div>
                <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;"></div>
                <div class="umb-table-cell flx-s1 flx-g1 flx-b6"><localize key="redirectUrls_redirectedTo">Redirected To</localize></div>
            </div>
        </div>

        <div class="umb-table-body">

            <div class="umb-table-row -solid" ng-repeat="redirectUrl in vm.redirectUrls">


                <div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b4">
                    <a class="umb-table-body__link" href="{{redirectUrl.originalUrl}}" target="_blank" title="{{redirectUrl.originalUrl}}">{{redirectUrl.originalUrl}}</a>
                </div>

                <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;">
                    <i class="umb-table-body__icon umb-table-body__fileicon icon-arrow-right" style="font-size: 12px; line-height: 1;"></i>
                </div>

                <div class="umb-table-cell flx-s1 flx-g1 flx-b6 items-center">
                    <div class="flx-s1 flx-g1 flx-b0" style="margin-right: 20px;">
                        <a class="umb-table-body__link" href="{{redirectUrl.destinationUrl}}" target="_blank" title="{{redirectUrl.destinationUrl}}">{{redirectUrl.destinationUrl}}</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

<!--
    <div class="flex justify-center items-center">
        <umb-pagination
            ng-if="vm.pagination.totalPages > 1 && !vm.dashboard.loading"
            page-number="vm.pagination.pageNumber"
            total-pages="vm.pagination.totalPages"
            on-next="vm.goToPage"
            on-prev="vm.goToPage"
            on-go-to-page="vm.goToPage">
        </umb-pagination>
    </div>-->

	<umb-overlay
		ng-if="treePickerOverlay.show"
		model="treePickerOverlay"
		position="right"
		view="treePickerOverlay.view">
	</umb-overlay>

    <umb-empty-state
        ng-if="vm.redirectUrls.length === 0 && vm.dashboard.searchTerm.length === 0 && !vm.dashboard.loading"
        position="center">
        <div><localize key="redirectUrls_noRedirects">No redirects have been made</localize></div>
        <small class="faded"><localize key="redirectUrls_noRedirectsDescription">When a published page gets renamed or moved a redirect will automatically be made to the new page</localize></small>
    </umb-empty-state>

    <umb-empty-state
        ng-if="vm.redirectUrls.length === 0 && vm.dashboard.searchTerm.length > 0 && !vm.dashboard.loading"
        position="center">
        <localize key="general_searchNoResult"></localize>
    </umb-empty-state>

</div>
